.diversityAtWorkContainer {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.flexChild1 {
    flex: 0 1 900px;
    margin: 50px;
}

.flexChild2 {
    flex-wrap: wrap;
    display: flex;

    div {
         flex: 1;
         position: relative;
    }
}

.card-body {
    border: none;
}

img {
    height: 250px;
    width: 255px;
    border-radius: 15px;
    padding: 10px;
}

.modalBody {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.modalBodyBtn {
    height: 50px
}

.modalBodyImg {
    width: 90%; 
    height: 100%;
}

.fullScreenIcon {
    position: absolute;
    top: 30px;
    right: 45px;
}