 .navbar {
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
  }

  a {
    color: grey;
  }
  
  .navbar a:link {
    color: grey;
  }

  .navbar a:hover, a:hover{
    color: green;
    text-decoration: none;
  }
  
  .navbar a:active {
    color: black;
  }

  .navbar button{
    border: 1px solid black;
  }

  .hamBurgerButton {
    height: 50px; 
    position: relative;
    right: 15px;
    top: 10px;
  }