.techInfoContainer {
    background-color: lightgray;
    
}

.card {
    background-color: lightgray;
    border: none;
    margin-bottom: 40px;
    color: black;
}

.moreLink {
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 40px;
    color: black;
    text-decoration: none;
    font-size: small;
}

.card-body:hover {
    background-color: #fff;
    border-radius: 0.25rem;
}

.card-img-top {
    width: 80px;
    height: 80px;
}

.heading {
    padding: 30px;
}